{include file="index/header" /}
<div class="container-fluid">
    <div class="row">
        <div class="card w-100 h-100 border-0 rounded-0">
            <div class="card-header bg-info text-white">
                {include file="index/head" /}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3 class="text-info"><em>1</em> {:lang('Environment')}</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-info"><span class="badge"><em>2</em></span> {:lang('Create the data')}</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-info"><span class="badge"><em>3</em></span> {:lang('Finish installation')}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="jumbotron m-auto bg-white">
                        <h3>{:lang('Thank you for using the Swordfish Forum system, you can continue with the following button')}</h3>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{:url('/')}" class="btn btn-info">{:lang('Enter the home page')}</a>&nbsp;&nbsp;
                    <a href="{:url('/admin')}" class="btn btn-info">{:lang('Into the background')}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index/footer" /}